export PATH=$PATH:/Users/julianrachele/Library/Application\ Support/zig-sync/zig-0.14.0-dev.2577+271452d22:/Users/julianrachele/Library/Application\ Support/zig-sync/zig-0.14.0-dev.2577+271452d22/files

